.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("https://media.rawg.io/media/games/b11/b115b2bc6a5957a917bc7601f4abdda2.jpg");
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
  color: white;
}

a {
  color: cornflowerblue;
}

.List-nodes {
  padding: 0 15%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Outer-wrapper {
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  display: flex;
}

.Inner-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  padding: 2em;
  flex: 1;
}

.Back-button {
  display: flex;
  border-radius: 0.5em;
  height: 2.5em;
  font-size: 1em;
}

pre {
  margin: 0;
  white-space: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Outer-list-wrapper {
  display: flex;
  border-radius: 2em;
  background-size: cover;
  margin: 0.2em 0.2em;
}

.Inner-list-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  padding: 2em;
  min-width: 18em;
  max-width: 18em;
}

.Inner-list-wrapper:hover {
  background-color: rgba(11, 56, 20, 0.5);
}

.App-link {
  color: #09d3ac;
}

.Blur-wrapper {
  overflow: hidden;
  margin: 0;
  text-align: left;
}
.App:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
}

.Nav-bar span {
  font-family: monospace;
  color: #b0b0b0;
  font-weight: bold;
  font-size: 1.5em;
  border: gray 2px solid;
  border-radius: 8px;
  padding: 0.4em 0.7em 0.5em 0.7em;
  background-color: #333;
}

.Nav-bar span:hover {
  border: #d1d1d1 2px solid;
  background-color: #444;
  color: #c0c0c0;
}

div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.platformList {
  display: flex;
  justify-content: space-evenly;
}

.platformIcon {
  padding: 4px;
  height: 28px;
  width: 28px;
  border-radius: 3em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storeList {
  display: flex;
  justify-content: space-evenly;
}

.storeIcon {
  padding: 4px;
  height: 28px;
  width: 28px;
  border-radius: 3em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nintendoSwitchSpecial {
  height: 18px;
  width: 18px;
}

.epicGamesSpecial {
  height: 18px;
  width: 18px;
}

.gogSpecial {
  position: relative;
  top: 2px;
  height: 24px;
  width: 24px;
}
