.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
  color: white;
}

a {
  color: cornflowerblue;
}

.List-nodes {
  padding: 0 8px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.Outer-wrapper {
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  display: flex;
}

.Inner-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  padding: 2em;
  flex: 1;
}

.Detail-description {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2em;
  padding: 1px 1em;
}

.Back-button {
  display: flex;
  justify-content: center;
  border-radius: 0.5em;
  height: 2.5em;
  width: 2.5em;
  font-size: 1em;
}

pre {
  margin: 0;
  white-space: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Outer-list-wrapper {
  display: flex;
  border-radius: 2em;
  background-size: cover;
  background-position: center;
  margin: 0.2em 0.2em;
  box-shadow: 0 0 30px #000;
}

.Inner-list-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2em;
  padding: 2em;
  min-width: 18em;
  max-width: 18em;
}

.Inner-list-wrapper:hover {
  background-color: rgba(11, 56, 20, 0.5);
}

.Floating-title,
.Game-title,
.User-rating,
.Release-date,
.Detail-website span,
.Detail-website span a {
  text-shadow: -1px -1px 2px black;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.Game-title {
  font-size: 1.7em;
}

.Detail-website span {
  padding: 4px;
  border-radius: 3em;
  background-color: black;
  opacity: 0.8;
}

.Detail-website span a {
  padding: 0 0 0 8px;
}

.Detail-website {
  margin: 0.5em;
}

.Outer-list-wrapper .Icon-text {
  display: none;
}

.App-link {
  color: #09d3ac;
}

.Blur-wrapper {
  overflow: hidden;
  margin: 0;
  text-align: left;
}
.App:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
  transition: all 2s linear;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition: all 2s linear;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
}

.Nav-bar span {
  font-family: monospace;
  color: #b0b0b0;
  font-weight: bold;
  font-size: 1.5em;
  border: gray 2px solid;
  border-radius: 8px;
  padding: 0.4em 0.7em 0.5em 0.7em;
  background-color: #333;
}

.Nav-bar span:hover {
  border: #d1d1d1 2px solid;
  background-color: #444;
  color: #c0c0c0;
}

div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.Platform-list,
.Store-list {
  display: flex;
  justify-content: space-evenly;
}

.platformIcon,
.storeIcon {
  padding: 4px;
  min-height: 28px;
  min-width: 28px;
  border-radius: 3em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.storeIcon a,
.platformIcon {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.platformIcon:hover,
.storeIcon:hover,
.Detail-website span:hover {
  opacity: 1;
}

.nintendoSwitchSpecial {
  height: 18px;
  width: 18px;
}

.epicGamesSpecial {
  height: 18px;
  width: 18px;
}

.gogSpecial {
  position: relative;
  top: 2px;
  height: 24px;
  width: 24px;
}

.Ratings {
  display: flex;
  justify-content: center;
}

.Metacritic {
  font-weight: 700;
  font-size: 1.5em;
  width: 48px;
  height: 48px;
  background-color: rgb(59, 59, 59);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: black;
  border-radius: 0.2em;
}

.User-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}
